.donate-form-sec{
    padding-bottom: 50px;
}
.donate-form-set{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.left-set{
    width: 45%;
}
.right-set{
    width: 65%;
}
.poster-set{
    width: 90%;
    /* margin: auto; */
}
.poster-set>img{
    width: 100%;
    border-radius: 16px;
}
.poster-set>h4{
    font: 40px/42px var(--hevy);
    color: var(--footer-gray);
    text-align: left;
    padding-top: 10px;
}
.donation-method-opt-set{

}
.donation-method-opt-set h4{
    font: 24px/30px var(--semibold);
    color: var(--default-color);
    padding-bottom: 10px;
}
.donation-method-list{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 55%;
    margin-bottom: 10px;
}
.donation-method-items{
    display: flex;
    align-items: center;
}
.donation-method-items:not(:last-child){
    margin-right: 15px;
}
.donation-method-items label{
    font: 16px/20px var(--regular);
    color: var(--footer-gray);
    padding-left: 10px;
    margin-bottom: 0px;
    cursor: pointer;
}
.input_group{
    margin-bottom: 30px;
}
.view_detail {
    
}   
.bank_information {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bank_information p {
    color: var(--footer-gray);
    font: 16px/18px var(--semibold);
    padding-bottom: 8px;
}
.transfore_para {
    color: var(--primary-color);
    font: 12px/16px var(--regular);
    padding-bottom: 50px;
}
.ct_action {
    border-top: 1px solid #E9E9E9;
}
.checkbox_group {
    padding: 20px 0px;
}
.terms_and_condition {
    padding: 40px 0px;
    display: flex;
    align-items: center;
}
.terms_and_condition label{
    margin-left: 10px;
    margin-bottom: 0px;
    cursor: pointer;
}
.payment_control {
    padding: 0px 0px;
    margin-bottom: 6px;
}
.payment_control>input{
    accent-color: #d17f0b;
    width: 16px;
    height: 16px;
}
.font_resize {
    font-size: 16px;
}
.signup {
    color: var(--dark-orange);
    font: 16px/18px var(--regular);
}
.signup:hover{
    color: var(--dark-orange);
}






.donation-pot_banner{
  background-image: url(../assets/web\ app_png/pot_banner.png);
  width: 100%;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 40px 0px;
}
.donation-pot_content h1{
  font: 44px/50px var(--hevy);
  color: var(--footer-gray);
  padding-bottom: 10px;
}
.donation-pot_content p{
  font: 16px/24px var(--regular);
  color: var(--smokey-gray);
  padding-bottom: 40px;
}
.donation-pot_body_section{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  width: 90%;
  margin: auto;
}
.donation-pot_items{
  width: 45%;
}
.donation-pot_list .lets__go__btn{
  margin-right: 24px;
}
#donation-potBtn {
      position: relative;
      overflow: hidden;
      cursor: pointer;
}
#donation-potBtn a {
    position: relative;
    transition: all .35s ease-Out;
    color: var(--dark-gray);
    text-decoration: none;
    font: 14px/18px var(--bold);
    text-transform: uppercase;
}
#bank_info_toggle:checked + .round ~ p{
    display: block;
}
.bank-info-main{
    /* display: none; */
}
.bank-info-set{
    margin-bottom: 20px;
}
.bank-info-set h4{  
    font: 16px/20px var(--semibold);
    color: var(--footer-gray);
    padding-bottom:8px;
}
.ac-holder-details-set{
    background-color: #F8F8F8;
    border-radius: 10px;
    padding: 25px 20px;
}
.ac-holder-details{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ac-holder-items:first-child{
    width: 100%;
}
.ac-holder-items{
    width: 45%;
    margin: 10px 0px;
}
.ac-holder-items p{
    font: 12px/14px var(--medium);
    color: var(--smokey-gray);
    padding-bottom:3px;
}
.ac-holder-items h4{
    font: 16px/20px var(--regular);
    color: var(--footer-gray);
}
.payment-receipt-set{
    margin-bottom: 20px;
}
.payment-receipt-set h4{
    font: 16px/20px var(--semibold);
    color: var(--footer-gray);
    padding-bottom:8px;
}
.upload_label{
    width: 100%;
    cursor: pointer;
    margin-bottom: 0px;
}
.upload-img{
    width: 100%;
}
@media screen and (max-width:1440px){
    .ac-holder-details {
        width: 70%;
    }
}
@media screen and (max-width:1200px){
    .donate-form-set,.donation-pot_body_section{
        width: 100%;
    }
    .donation-pot_items {
        width: 60%;
    }
}
@media screen and (max-width:991px){
.donate-form-set{
    flex-wrap: wrap;
}
.left-set,.right-set{
    width: 100%;
}
.poster-set{
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
}
}
@media screen and (max-width:768px){
    .title-header>h2{
        font: 36px/40px var(--hevy);
    }
    .title-header>h2>br{
        display: none;
    }
    .donation-pot_items{
        width: 100%;
        background: #ffffff82;
        border-radius: 12px;
        padding: 10px;
    }
    .donation-pot_content p{
        padding-bottom: 10px;
    }
    .poster-set>h4 {
        font: 34px/38px var(--hevy);
    }
    .donation-method-list{
        width: 100%;
        justify-content: flex-start;
    }
    .donation-method-items:not(:last-child) {
        margin-right: 10%;
    }
    .ac-holder-details {
        width: 100%;
    }
    .lets__go__btn{
        margin-bottom: 10px;
        width: 100%;
    }
    #btnSlide{
        left: -100%;
    }
}
@media screen and (max-width: 550px){
    .title-header{
        margin: 20px auto 30px;
    }
    .title-header>h2 {
        font: 30px/36px var(--hevy);
    }
    .ac-holder-details-set{
        padding: 15px 20px;
    }
    .donate-form-sec {
        padding-bottom: 30px;
        padding-top: 85px;
    }
}
@media screen and (max-width: 420px){
    .input_item {
        width: 100%;
    }
    .donate-form-set, .donation-pot_body_section{
        width: 98%;
    }
    .ac-holder-items {
        width: 100%;
    }
    .donation-pot_banner{
        padding: 30px 0px;
    }
    .donation-pot_content h1 {
        font: 36px/40px var(--hevy);
        padding-bottom: 5px;
    }    
}
@media screen and (max-width: 414px){
    .title-header {
        margin: 10px auto 20px;
    }
}