.causes__wrapper__sub__tittle p{
    font: 14px var(--medium);
    color: var(--dark-orange);
}
.causes__wrapper__box{
    
}
.causes__main__title h1{
    font: 40px/40px var(--hevy);
    text-transform: uppercase;
    color: var(--footer-gray);
}
.causes__main__title{
    text-align: center;
}
.causes__main__wrapper__box{
    padding-top: 5px;
}
.causes__main__header{
    display: flex;
    justify-content: space-between;
}
.causes__wrapper__item{
    width: 80%;
    margin: auto;
}
.search__icon{
    background: url(../assets/web\ app_svg/search_icon.svg);
    background-repeat: no-repeat;
    background-position: 10px 15px;
    background-size: 20px 20px;
    border: none;
    width: 518px;
    padding: 14px 35px;
    border: 1px solid #c9c9c9   ;
    border-radius: 4px;
    color: var(--footer-gray);
    
    font: 16px var(--regular);
}
.search__icon:focus-visible {
    outline: none ;
}
.search__icon::placeholder{
    color: #bcbcbc;
    font: 16px var(--regular);
}
.search__box__section{
    padding-bottom: 40px;
}
.search__btn{
    padding: 17px 95px;
    border: none;
    background: #ff9700;
    text-transform: uppercase;
    font: 14px var(--bold);
    color: var(--footer-gray);
}
.search__box__item{
    display: flex;
    align-items: center;
}
.search__list{
    padding-right: 24px;
    
}
.causes__wrapper__list .card__common__box .tab__item{
    margin-bottom: 40px;
}